body{
    background-image: radial-gradient(ellipse at bottom,rgb(226, 212, 226), rgb(228, 230, 224), rgb(227, 227, 238));
}
.div1{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.div{
 
 color: rgb(118, 114, 111);
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form{
    /* border: 1px solid rgb(174, 161, 161); */
    background-color:darkgrey;
    width: min-content;
    height: min-content;
}
.input{
    min-width: 500px;
    border-radius: 5px;
    height: 30px;
}
.textarea{
    min-width: 500px;
    height: 50px;
}
.button{
width: 60px;
height:30px;
}
.post {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  width: 500px;
}
.post1{
  height: 10px;
}
